.completedChore {
  text-decoration: line-through;
}
.App {
  text-align: center;
  display: flex;
  font-family: "Baloo 2", cursive;
  justify-content: space-evenly;
  padding: 10rem;
  margin:  auto;
  width: 50%;
}

body {
  background-color: ghostwhite;
}
input {
  background-color:ghostwhite;
  border: 0;
  padding: 6px 0;
  font-size: 1.4rem;
  width: 80%;
  outline: 0;
  color: rgb(75, 89, 116);
  border-bottom: 2px solid #0e93ff;
  margin-bottom: 3rem;
  font-family: "Baloo 2", cursive;
  font-weight: bold;
}
button {
  margin: 10px;
  
}
.clear {
  background: rgb(255, 74, 74);
  padding: 0.8rem;
  width: 22rem;
  font-size: 1.5rem;
  font-family: "Baloo 2", cursive;
}
.add {
  background: rgb(41, 255, 69);
  padding: 0.8rem;
  width: 22rem;
  font-size: 1.5rem;
  font-family: "Baloo 2", cursive;
}
#choreItem {
  background: rgb(255, 182, 99);
  width: 80%;
  margin: 0 auto;
}
.addChore{
  margin-top: -10rem;
}