.completedChore {
  text-decoration: line-through;
}
.App {
  text-align: center;
  display: flex;
  font-family: 'Baloo 2', cursive;
  justify-content: space-evenly;
  padding: 10rem;
}

body{
  background-color: peachpuff;
}
input {
  margin: 5px;
  padding: 1.2rem;
  width: 15rem;
}
button {
  margin: 10px;
}
.clear {
  background: rgb(255, 74, 74);
  padding: 0.8rem;
  width: 22rem;
  font-size: 1.5rem;
  font-family: "Baloo 2", cursive;
}
.add {

  background: rgb(41, 255, 69);
  padding: 0.8rem;
  width: 22rem;
  font-size: 1.5rem;
  font-family: "Baloo 2", cursive;
}
#choreItem{
  background: rgb(255, 182, 99);
  width: 80%;
  margin: 0 auto;
}
